In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Set path
file_path = Path('C:/Users/Mason/Project-3/Provisional_COVID-19_Deaths_by_Sex_and_Age.csv')

In [3]:
# Read csv
deaths_df =pd.read_csv(file_path, encoding="ISO-8859-1")

In [4]:
deaths_df.head()

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,6/21/2023,1/1/2020,6/17/2023,By Total,NaN,NaN,United States,All Sexes,All Ages,1135308.0,11505885.0,1119592.0,564905.0,21867.0,1709403.0,NaN
1,6/21/2023,1/1/2020,6/17/2023,By Total,NaN,NaN,United States,All Sexes,Under 1 year,497.0,67870.0,965.0,88.0,63.0,1435.0,NaN
2,6/21/2023,1/1/2020,6/17/2023,By Total,NaN,NaN,United States,All Sexes,0-17 years,1647.0,120949.0,2719.0,411.0,493.0,4423.0,NaN
3,6/21/2023,1/1/2020,6/17/2023,By Total,NaN,NaN,United States,All Sexes,1-4 years,274.0,13102.0,625.0,64.0,171.0,997.0,NaN
4,6/21/2023,1/1/2020,6/17/2023,By Total,NaN,NaN,United States,All Sexes,5-14 years,496.0,20321.0,761.0,140.0,211.0,1315.0,NaN

In [5]:
# Delete columns convert datetime columns and filter unwanted states
delete_columns = ['Data As Of','Start Date','End Date','Month','Footnote']
deaths_df = deaths_df.drop(columns=delete_columns)

In [7]:
deaths_df.to_csv('C:/Users/Mason/Project-3/Death DataFrames/Cause_of_death_All_Years.csv', index=False, encoding='ISO-8859-1')

In [6]:
deaths_df=deaths_df[~deaths_df['State'].isin(['United States', 'Alaska', 'Hawaii', 'Puerto Rico',
                                              'District of Columbia', 'New York City'])]

deaths_df.head()

,Group,Year,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,By Total,NaN,United States,All Sexes,All Ages,1135308.0,11505885.0,1119592.0,564905.0,21867.0,1709403.0
1,By Total,NaN,United States,All Sexes,Under 1 year,497.0,67870.0,965.0,88.0,63.0,1435.0
2,By Total,NaN,United States,All Sexes,0-17 years,1647.0,120949.0,2719.0,411.0,493.0,4423.0
3,By Total,NaN,United States,All Sexes,1-4 years,274.0,13102.0,625.0,64.0,171.0,997.0
4,By Total,NaN,United States,All Sexes,5-14 years,496.0,20321.0,761.0,140.0,211.0,1315.0

In [ ]:
states = deaths_df['State'].unique()
len(states)

In [ ]:
deaths_df.dtypes

In [ ]:
# Creaty death by state df
deaths_byState_df = deaths_df[(deaths_df['Group'] == 'By Year') 
                              & (deaths_df['Sex'] == 'All Sexes') 
                              & (deaths_df['Age Group'] == 'All Ages')]
d_columns = ['Group','Sex','Age Group']
deaths_byState_df = deaths_byState_df.drop(columns=d_columns)
deaths_byState_df['Year'] = pd.to_datetime(deaths_byState_df['Year'], format='%Y').dt.year
deaths_byState_df = deaths_byState_df[deaths_byState_df['Year'] != 2020]
deaths_byState_df

In [ ]:
# Create deaths by sex df
deaths_bySex_df = deaths_df[(deaths_df['Group'] == 'By Year') 
                            & (deaths_df['Sex'].isin(['Male', 'Female'])) 
                            & (deaths_df['Age Group'] == 'All Ages')]
d2_columns = ['Group','Age Group']
deaths_bySex_df = deaths_bySex_df.drop(columns=d2_columns)
deaths_bySex_df['Year'] = pd.to_datetime(deaths_bySex_df['Year'], format='%Y').dt.year
deaths_bySex_df = deaths_bySex_df[deaths_bySex_df['Year'] != 2020]
deaths_bySex_df

In [ ]:
# Creat Death by age df
deaths_byAge_df = deaths_df
deaths_byAge_df = deaths_byAge_df[(deaths_df['Group'] == 'By Year') 
                                  & (deaths_df['Sex']=='All Sexes') 
                                  & (deaths_df['Age Group'].isin(['0-17 years','18-29 years',
                                                                  '30-39 years','40-49 years',
                                                                  '50-64 years','65-74 years',
                                                                  '75-84 years','85 years and over']))]
deaths_byAge_df.fillna(0, inplace=True)
# Reset Age Group column to new age goups
deaths_byAge_df['Age Group'] = deaths_df['Age Group'].replace({'30-39 years': '30-49 years',
                                               '40-49 years': '30-49 years',
                                               '50-64 years': '50-74 years',
                                               '65-74 years': '50-74 years',
                                               '75-84 years': '75+ years',
                                               '85 years and over': '75+ years'})
# Drop Columns rename startdate column and chand date to year only 
d3_columns = ['Group','Sex']
deaths_byAge_df = deaths_byAge_df.drop(columns=d3_columns)
deaths_byAge_df['Year'] = pd.to_datetime(deaths_byAge_df['Year'], format='%Y').dt.year
deaths_byAge_df = deaths_byAge_df[deaths_byAge_df['Year'] != 2020]
deaths_byAge_df.head()

In [ ]:
deaths_byStateYear_df= deaths_byState_df.groupby(['Year', 'State']).sum()
deaths_byStateYear_df

In [ ]:
deaths_bySexYear_df=deaths_bySex_df.groupby(['Year', 'State', 'Sex']).sum()
deaths_bySexYear_df

In [ ]:
deaths_byAgeYear_df = deaths_byAge_df.groupby(['Year', 'State', 'Age Group']).sum()
deaths_byAgeYear_df.head()

In [ ]:
Death_byState_2021 = deaths_byStateYear_df.groupby(level='Year').get_group(2021)
Death_byState_2022 = deaths_byStateYear_df.groupby(level='Year').get_group(2022)
Death_byState_2023 = deaths_byStateYear_df.groupby(level='Year').get_group(2023)

In [ ]:
Death_byState_2021.head()

In [ ]:
Death_byState_2022.head()

In [ ]:
Death_byState_2023.head()

In [ ]:
Death_bySex_2021 = deaths_bySexYear_df.groupby(level='Year').get_group(2021)
Death_bySex_2022 = deaths_bySexYear_df.groupby(level='Year').get_group(2022)
Death_bySex_2023 = deaths_bySexYear_df.groupby(level='Year').get_group(2023)

In [ ]:
Death_bySex_2021.head()

In [ ]:
Death_bySex_2022.head()

In [ ]:
Death_bySex_2023.head()

In [ ]:
Death_byAge_2021 = deaths_byAgeYear_df.groupby(level='Year').get_group(2021)
Death_byAge_2022 = deaths_byAgeYear_df.groupby(level='Year').get_group(2022)
Death_byAge_2023 = deaths_byAgeYear_df.groupby(level='Year').get_group(2023)

In [ ]:
Death_byAge_2021.head()

In [ ]:
Death_byAge_2022.head()

In [ ]:
Death_byAge_2023.head()

In [ ]:
deaths_byStateYear_df.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byState_ALLYears.csv', index=False, encoding='ISO-8859-1')
deaths_bySexYear_df.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_bySex_ALLYears.csv', index=False, encoding='ISO-8859-1')
deaths_byAgeYear_df.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byAge_ALLYears.csv', index=False, encoding='ISO-8859-1')
Death_byState_2021.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byState_2021.csv', index=False, encoding='ISO-8859-1')
Death_byState_2022.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byState_2022.csv', index=False, encoding='ISO-8859-1')
Death_byState_2023.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byState_2023.csv', index=False, encoding='ISO-8859-1')
Death_bySex_2021.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_bySex_2021.csv', index=False, encoding='ISO-8859-1')
Death_bySex_2022.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_bySex_2022.csv', index=False, encoding='ISO-8859-1')
Death_bySex_2023.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_bySex_2023.csv', index=False, encoding='ISO-8859-1')
Death_byAge_2021.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byAge_2021.csv', index=False, encoding='ISO-8859-1')
Death_byAge_2022.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byAge_2022.csv', index=False, encoding='ISO-8859-1')
Death_byAge_2023.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byAge_2023.csv', index=False, encoding='ISO-8859-1')