In [1]:
import pandas as pd 
from pathlib import Path

In [2]:
# Set path
file_path = Path('C:/Users/Mason/Project-3/Death DataFrames/Cause_of_death_All_Years.csv')

In [3]:
# Read csv
cause_df = pd.read_csv(file_path, encoding="ISO-8859-1")

In [4]:
# View DataFrame
cause_df.head()

,Group,Year,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,By Total,NaN,United States,All Sexes,All Ages,1135308.0,11505885.0,1119592.0,564905.0,21867.0,1709403.0

In [5]:
# Drop unnecessary columns
columns_drop = ["Group", "Year", "Sex", "Age Group"]
cause_df = cause_df.drop(columns = columns_drop)

In [6]:
# Set index
cause_df.set_index('State', inplace=True)

cause_df

,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
State,,,,,,
United States,1135308.0,11505885.0,1119592.0,564905.0,21867.0,1709403.0

In [7]:
# Check datatypes
cause_df.dtypes

COVID-19 Deaths                             float64
Total Deaths                                float64
Pneumonia Deaths                            float64
Pneumonia and COVID-19 Deaths               float64
Influenza Deaths                            float64
Pneumonia, Influenza, or COVID-19 Deaths    float64
dtype: object

In [10]:
cause_df.to_csv('C:/Users/Mason/Project-3/Death DataFrames/Cause_of_death_All_Years_Cleaned.csv', index=True, encoding='ISO-8859-1')