In [1]:
import pandas as pd
from pathlib import Path

In [4]:
# Set path
file_path = Path('C:/Users/Mason/Project-3/State_Coord/us-state-capitals.csv')

In [5]:
# Read csv
state_coord = pd.read_csv(file_path, encoding="ISO-8859-1")

In [8]:
state_coord.head()

         name  description   latitude   longitude
0     Alabama   Montgomery  32.377716  -86.300568
1      Alaska       Juneau  58.301598 -134.420212
2     Arizona      Phoenix  33.448143 -112.096962
3    Arkansas  Little Rock  34.746613  -92.288986
4  California   Sacramento  38.576668 -121.493629

In [11]:
# Drop cities
state_coord = state_coord.drop("description", axis=1)

In [12]:
state_coord.head()

         name   latitude   longitude
0     Alabama  32.377716  -86.300568
1      Alaska  58.301598 -134.420212
2     Arizona  33.448143 -112.096962
3    Arkansas  34.746613  -92.288986
4  California  38.576668 -121.493629

In [13]:
# Check Datatypes
state_coord.dtypes

name          object
latitude     float64
longitude    float64
dtype: object

In [14]:
# Save to CSV
state_coord.to_csv('C:/Users/Mason/Project-3/State_Coord/State_Coord_cleaned.csv', index=False, encoding='ISO-8859-1')