In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Set path
file_path = Path('C:/Users/Mason/Project-3/State_Population.csv')

In [3]:
# Read csv
state_pop =pd.read_csv(file_path, encoding="ISO-8859-1")

In [4]:
# Fix corrupted name
state_pop = state_pop.rename(columns={"ï»¿State":"State","2020":"Year_2020","2021":"Year_2021","2022":"Year_2022"})

In [5]:
state_pop.head()

         State   Year_2020   Year_2021   Year_2022
0     .Alabama   5,031,362   5,049,846   5,074,296
1     .Arizona   7,179,943   7,264,877   7,359,197
2    .Arkansas   3,014,195   3,028,122   3,045,637
3  .California  39,501,653  39,142,991  39,029,342
4    .Colorado   5,784,865   5,811,297   5,839,926

In [6]:
# Check datatypes
state_pop.dtypes

State        object
Year_2020    object
Year_2021    object
Year_2022    object
dtype: object

In [7]:
# Remove the commas and convert the population datatypes to int
state_pop['Year_2020'] = state_pop['Year_2020'].str.replace(',', '').astype(int)
state_pop['Year_2021'] = state_pop['Year_2021'].str.replace(',', '').astype(int)
state_pop['Year_2022'] = state_pop['Year_2022'].str.replace(',', '').astype(int)

In [8]:
# Check datetypes
state_pop.dtypes

State        object
Year_2020     int32
Year_2021     int32
Year_2022     int32
dtype: object

In [11]:
# Check dataframe
state_pop

              State  Year_2020  Year_2021  Year_2022
0          .Alabama    5031362    5049846    5074296
1          .Arizona    7179943    7264877    7359197
2         .Arkansas    3014195    3028122    3045637
3       .California   39501653   39142991   39029342
4         .Colorado    5784865    5811297    5839926
5      .Connecticut    3597362    3623355    3626205
6         .Delaware     992114    1004807    1018396
7          .Florida   21589602   21828069   22244823
8          .Georgia   10729828   10788029   10912876
9            .Idaho    1849202    1904314    1939033
10        .Illinois   12786580   12686469   12582032
11         .Indiana    6788799    6813532    6833037
12            .Iowa    3190571    3197689    3200517
13          .Kansas    2937919    2937922    2937150
14        .Kentucky    4507445    4506589    4512310
15       .Louisiana    4651664    4627098    4590241
16           .Maine    1363557    1377238    1385340
17        .Maryland    6173205    6174610    6164660
18   .Massachusetts    6995729    6989690    6981974
19        .Michigan   10069577   10037504   10034113
20       .Minnesota    5709852    5711471    5717184
21     .Mississippi    2958141    2949586    2940057
22        .Missouri    6153998    6169823    6177957
23         .Montana    1087075    1106227    1122867
24        .Nebraska    1962642    1963554    1967923
25          .Nevada    3115648    3146402    3177772
26   .New Hampshire    1378587    1387505    1395231
27      .New Jersey    9271689    9267961    9261699
28      .New Mexico    2118390    2116677    2113344
29        .New York   20108296   19857492   19677151
30  .North Carolina   10449445   10565885   10698973
31    .North Dakota     779518     777934     779261
32            .Ohio   11797517   11764342   11756058
33        .Oklahoma    3964912    3991225    4019800
34          .Oregon    4244795    4256301    4240137
35    .Pennsylvania   12994440   13012059   12972008
36    .Rhode Island    1096345    1096985    1093734
37  .South Carolina    5131848    5193266    5282634
38    .South Dakota     887799     896164     909824
39       .Tennessee    6925619    6968351    7051339
40           .Texas   29232474   29558864   30029572
41            .Utah    3283785    3339113    3380800
42         .Vermont     642893     646972     647064
43        .Virginia    8636471    8657365    8683619
44      .Washington    7724031    7740745    7785786
45   .West Virginia    1791420    1785526    1775156
46       .Wisconsin    5896271    5880101    5892539
47         .Wyoming     577605     579483     581381

In [10]:
state_pop.to_csv('C:/Users/Mason/Project-3/State_Population_cleaned.csv', index=False, encoding='ISO-8859-1')